USE [master]
GO
/****** Object:  Database [Comercial]    Script Date: 16/02/2019 13:15:45 ******/
CREATE DATABASE [Comercial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Comercial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Comercial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Comercial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Comercial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Comercial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Comercial]
GO
USE [Comercial]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 16/02/2019 13:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[Codigo] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Articulo] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 16/02/2019 13:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Codigo_Cli] [int] NOT NULL,
	[Identificacion_Cli] [int] NOT NULL,
	[Nombre_Cli] [nvarchar](50) NOT NULL,
	[Apellido_Cli] [nvarchar](50) NOT NULL,
	[Direccion_Cli] [nvarchar](50) NOT NULL,
	[Telefono_Cli] [int] NULL,
	[Correo_Cli] [nvarchar](50) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Codigo_Cli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 16/02/2019 13:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Codigo_Ped] [int] NOT NULL,
	[CodigoCliente_Ped] [int] NOT NULL,
	[NombreCliente_Ped] [nvarchar](50) NOT NULL,
	[CodigoArticulo_Ped] [int] NOT NULL,
	[NombreArticulo_Ped] [nvarchar](50) NOT NULL,
	[CantidadArticulo_Ped] [int] NOT NULL,
	[EstadoArticulo_Ped] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo_Ped] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([CodigoArticulo_Ped])
REFERENCES [dbo].[Articulo] ([Codigo])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([CodigoArticulo_Ped])
REFERENCES [dbo].[Articulo] ([Codigo])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([CodigoCliente_Ped])
REFERENCES [dbo].[Cliente] ([Codigo_Cli])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([CodigoCliente_Ped])
REFERENCES [dbo].[Cliente] ([Codigo_Cli])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([CodigoCliente_Ped])
REFERENCES [dbo].[Cliente] ([Codigo_Cli])
GO
USE [master]
GO
