
@{
    ViewBag.Title = "Inicio";
}
<br />
<div class="container">
    <div class="row">
        <div class="span6 offset3">
            <form>               
                <p style="line-height: 70px; text-align: center;">
                    <button type="submit" class="btn">Registrar Clientes</button>
                    <button type="submit" class="btn">Alquilar Películas</button>
                </p>
            </form>
        </div>
    </div>
</div>
